@import '../../../styles/variables';

.cdx-btn {
  max-width: 100%;
  min-width: 6.25rem;
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  margin: 0 0.5rem 1rem 0;
  padding: 0 1rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: none;
  background-color: $primaryColor;
  color: white;

  &.delete {
    background-color: $errorColor;
  }

  &.small {
    height: 1.5rem;
    font-size: 0.75rem;
  }

  &.large {
    height: 3rem;
    font-size: 1rem;
  }

  &.block {
    width: 100%;
  }

  &.ghost {
    color: $primaryColor;
    background-color: rgba(#ffffff, 0);
    border: 0.0625rem solid $primaryColor;

    &:disabled {
      color: $disabledColor;
      background-color: rgba(#ffffff, 0);
      border: 0.0625rem solid $disabledColor;

      &.loading {
        border: 0.0625rem solid $primaryColor;
      }
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &.flat {
    color: $primaryColor;
    background-color: rgba(#ffffff, 0);

    &.delete {
      background-color: rgba(255, 255, 255, 0);
      color: $errorColor;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0);
      color: $disabledColor;

      &.loading {
        color: $primaryColor;
      }
    }
  }

  &:disabled {
    background-color: $disabledColor;

    &.loading {
      background-color: $primaryColor;
    }

    &:hover {
      cursor: no-drop;
    }
  }

  &:hover {
    opacity: 0.8;
    outline: none;
    cursor: pointer;
  }

  &:active {
    opacity: 0.75;
  }

  &.ghost {
    color: $primaryColor;
    background-color: rgba(#ffffff, 0);
    border: 0.0625rem solid $primaryColor;

    &.delete {
      background-color: rgba(#ffffff, 0);
      color: $errorColor;
      border-color: $errorColor;
    }
  }
}

.cdx-btn-circle {
  height: 2rem;
  width: 2rem;
  font-size: 0.875rem;
  margin: 1rem;
  border: none;
  padding: auto 1rem;
  background-color: $primaryColor;
  color: white;
  border-radius: 50%;

  &.delete {
    background-color: $errorColor;
  }

  &.small {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.75rem;
  }

  &.large {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
  }

  &.block {
    width: 100%;
  }

  &.ghost {
    color: $primaryColor;
    background-color: rgba(#ffffff, 0);
    border: 0.0625rem solid $primaryColor;

    &.delete {
      background-color: rgba(#ffffff, 0);
      color: $errorColor;
      border-color: $errorColor;
    }

    &:disabled {
      color: $disabledColor;
      background-color: rgba(#ffffff, 0);
      border: 0.0625rem solid $disabledColor;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.loading {
    &:disabled {
      border: 0.0625rem solid $primaryColor;
    }
  }

  &.flat {
    color: $primaryColor;
    background-color: rgba(#ffffff, 0);

    &.delete {
      background-color: rgba(255, 255, 255, 0);
      color: $errorColor;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0);
      color: $disabledColor;
    }
  }

  &:disabled {
    background-color: $disabledColor;

    &:hover {
      cursor: no-drop;
    }
  }

  &:hover {
    opacity: 0.8;
    outline: none;
    cursor: pointer;
  }

  &:active {
    opacity: 0.75;
  }
}