.background {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  padding: 1.5rem 0 0 7.25rem;
  width: 55.875rem;
}
.container {
  background-color: var(--color-white);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}
.card {
  box-shadow: 0;
  margin: 12.9375rem 0 0;
  padding: 0 2.25rem;
  width: 29.5rem;
}
.content-image {
  width: 41.625rem;
}
.logo {
  width: 7.25rem;
  height: 2.75rem;
}
.product-name {
  margin: 4rem 0 1.5rem;
  text-align: center;
}
.snackbar .snackbar-content {
  background-color: var(--color-white);
  border-left: 0.3125rem solid #f55151;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.0625rem 0 rgba(67, 90, 111, 0.42);
  color: #234361;
  padding: 0 0.5rem;
  width: 100%;
}
.snackbar-icon {
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
  width: 1.125rem !important;
}
.snackbar-message {
  align-items: center;
  display: flex;
}
.tagline {
  margin-bottom: 2.25rem;
}