@import '../../../styles/variables';

.cdx-textinput {
  margin-bottom: $componentMargin;
  margin-right: $componentMargin;
  color: $fontColor;
  width: $inputWidth;

  &.block {
    width: 100%;
  }

  &.long {
    width: $inputWidthLong;
  }

  &:last-child {
    margin-bottom: $sectionMargin;
  }

  .label {

    p,
    .optional {
      margin: 0;
      margin-bottom: $standardMargin;
    }

    p {
      font-size: 1rem;
    }

    .optional {
      line-height: 0;
      font-size: 0.875rem;
    }

  }

  .cdx-input {
    border-radius: $inputRadius;
    border: solid 0.0625rem $borderColor;
    background-color: #ffffff;
    height: $inputHeight;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;

    background-image: url('../../../assets/icons/time.svg');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 1.5rem 1.5rem;

    &.small {
      font-size: 0.875rem;
      height: $inputHeightSmall;
      padding: 0 1rem;
    }

    &::placeholder {
      color: $borderColor;
      font-size: 0.875rem;
      font-style: italic;
    }

    &:focus {
      border: 0.0625rem solid $primaryColor;
    }

    &:disabled {
      background-color: $disabledColor;
    }

    &.error-input {
      border: 0.0625rem solid $errorColor;
    }

    &:required {
      box-shadow: none;
    }
  }
}