.content {
  margin-left: 14.5rem;
  padding: 2rem;
}
.drawer {
  background-color: var(--color-drawer);
  border-right: none;
  box-shadow: 0 2px 4px 0 rgba(72, 122, 157, 0.3);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  outline: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 14.5rem;
  z-index: 1200;
}
.drawer-title {
  margin-left: 1.5625rem;
}
.snackbar .snackbar-content {
  background-color: white;
  border-left: 0.3125rem solid #74b816;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.0625rem 0 rgba(67, 90, 111, 0.42);
  color: #234361;
  width: 100%;
}
.snackbar-icon {
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
  width: 1.125rem !important;
}
.snackbar-message {
  align-items: center;
  display: flex;
}
.snackbar-button {
  height: 2.875rem!important;
  padding:0 !important;
  width: 3.25rem!important;
}