.pagination {
  width: 66.875rem;
}
.table {
  border-collapse: collapse;
  width: 66.875rem;
}
.table td, th {
  padding: 0.9375rem 0 0.9375rem 1rem;
  text-align: left;
  width: 21rem;
}
.tbody tr:nth-child(odd) {
  background-color: var(--color-drawer);
}
.th-level {
  padding: 0.9375rem 1rem;
  text-align: center;
  width: 21rem;
}
.td-level {
  padding: 0.9375rem 1rem;
  text-align: center !important;
  width: 21rem;
}